<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <p>Add a Input field which updates a property ('username') via Two-Way-Binding</p>
        <p>Output the username property via String Interpolation (in a paragraph below the input)</p>
        <p>Add a button which may only be clicked if the username is NOT an empty string</p>
        <p>Upon clicking the button, the username should be reset to an empty string</p>
        <hr>
      <label>User Name</label>
      <input type="text" 
      class="form-control"
       [(ngModel)]="userName">
       <p>{{userName}}</p>
       <button class="btn btn-primary" 
       [disabled]= "userName===''"
       (click)="userName = ''">Reset User</button>
    </div>
  </div>
</div>